pandas
numpy
matplotlib
seaborn
jupyter
spacy
gensim
pyLDAvis
vaderSentiment
google-play-scraper
python-dateutil
tqdm
python-dotenv
wordcloud
transformers
torch
scikit-learn
regex
nltk
textblob
langdetect